/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .conteudo {
    display: flex;
    align-items: center; /* para conter os elementos flutuantes */
    max-width: 565px;
    margin: 0px;
     padding: 0rem;
}

    .container{
        margin: 120px;
        width: 1060px;
    
    }
    .circle {
        display: flex;
        justify-content: space-between;
        }
        
        .circle img {
        width: 140px;
        height: 130px;
        border-radius: 150%;
        float: left;
        background-color: hotpink;
        background-position: center;
        border: 2px solid hotpink;
        margin-right: 10px;
        position: relative;
        }
        .Cards {
            display: flex;
            justify-content: space-around;
            margin-bottom: 2rem;
            text-align: center;
            font-weight: bolder;
            font-size: 14px;
          }
          .objetivo{
            text-align: left;
            font-weight: lighter;
            max-width: 565px;
            margin: 0px;
            padding: 0rem;
          }
          .experiencia{
            text-align: left;
            font-weight: lighter;
            max-width: 565px;
             margin: 0px;
            padding: 0rem;
          }
          .idioma{
            text-align: left;
            font-weight: lighter;
            max-width: 565px;
             margin: 0;
            padding: 0rem;
          }
          ul{
            margin-left: 1cm;
          }
          .grossa{
            border-color: rgb(237, 24, 102);
            border-width: 3.5px;
          }
          .clara{
            border-color: rgb(204, 124, 132);
            border-width: 2px;
          }
          .container1 {
            width: 800px;
            margin: 50px auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgb(249, 159, 159, 0.1);
            width: 210mm;
            height: 320mm;
        }
           h1{
            top: 0;
            text-align: center;
            margin-top: -2cm;
            margin-left: 3cm;
            font-weight:bold ;
            font-size: 40px;
            color: rgb(101, 6, 62);
           }
        .container {
			position:relative;
			top: 0;
			right: 5cm;
            left: 12cm;
			width: 6cm; /* Largura do retângulo */
			height: 231mm; /* Altura do retângulo (altura da folha A4) */
			background-color:  rgb(255, 216, 239); /* Cor do retângulo */
            margin-top: -20.5cm;
            border-radius: 0px;
		}
        h2{
            color: rgb(144, 43, 83);
        }
        .title{
            font-size: 25px;
            text-align: center;
            position: static;
            font-weight: lighter;
        }
        .cor{
            color: rgb(84, 83, 83);
        }
        h3{
            color: rgb(144, 43, 83);
        }
        hr{
            border-color: rgb(226, 36, 137);
            border-width: 1px;
        }
   
    